{% extends 'viewBasic.html' %}
{% load staticfiles %}

{% block subtitle %}Login{% endblock %}

{% block contents %}

<style type="text/css">
	.foot
	{
	position: relative;
	padding: 14px 0;
	-webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    background: #f8f3f0;
    }
    .extfoot
    {
	position: relative;
	padding: 14px 0;
	-webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    background: #FFFFFF;
    }
</style>
	<div class="container container-wide">
		<!-- content -->
		<div class="content" role="main">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="widget-container boxed">
					<div class="widget-title">
						<h4 style="color: white">
							登录
						</h4>
					</div>
					<form role="form" id="loginForm">
					<div class="inner">
						
							<br>
							<div class="clearfix" style="margin:20px">
								<div class="field_text_omega">
									<input type="text" name="username" id="username_input" placeholder="用户名">
								</div>
								<div class="alert alert-danger" id="username_wrong">用户名不能为空</div>
								<div class="alert alert-danger" id="username_wrong2">此用户不存在</div>
							</div>
							<div class="clearfix" style="margin:20px">
								<div class="field_text_omega">
									<input type="password" name="password" id="password_input" placeholder="密码">
								</div>
								<div class="alert alert-danger" id="password_wrong">密码不能为空</div>
								<div class="alert alert-danger" id="password_wrong2">密码错误</div>
							</div>
							<div class="clearfix" style="margin:20px">
								`<div class="alert alert-danger" id="general_wrong">注册中发生了一些错误</div>
							</div>
							<br>
					</div>
					<div class="foot">
						<div class="clearfix" style="margin:20px">
							<a href="#" class="btn btn-blue btn-block" id="loginBtn"><span>登录</span></a>
						</div>
						<input type="submit" hidden />
					</div>
					</form>
					<div class="extfoot widget-social">
						<div class="clearfix">
							<div class="col-md-2">
								<a href="#" class="social-sina" style="outline:none;" hidefocus="true">
								</a>
							</div>
							<div class="col-md-2">
								<a href="#" class="social-qq" style="outline:none;" hidefocus="true">
								</a>
							</div>
							<div class="col-md-5"></div>
							<div class="col-md-3" style="outline:none;">
								<div class="text-right" style="background: #FFFFFF">
									<button class="btn btn-green btn-large" onclick="window.location.href='{% url 'register' %}'">
											<span>注册</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	
	<div style="min-height:100px"></div>
	
<script src="{% static 'js/lly/login.js'%}"></script>
	
{% endblock %}