{% extends 'basic.html' %}
{% load staticfiles %}

{% block subtitle %}ViewBasic{% endblock %}

{% block body %}
	
	<div class="container container-wide" style="min-height:500px">
		<div class="content" role="main">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="widget-container boxed">
					<div class="widget-title">
						<h4 style="color: white">
							签到二维码
						</h4>
					</div>
					<div class="inner" id="qrcodeDiv">
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	
<script src="{% static 'js/lly/qrcodeshow.js' %}"></script>
{% endblock %}