{% extends 'basic.html' %}
{% load staticfiles %}

{% block subtitle %}签到信息{% endblock %}

{% block body %}
	
	<div class="container container-wide" style="min-height:500px">
		<div class="content" role="main">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="widget-container boxed">
					<div class="widget-title">
						<h4 style="color: white">
							签到信息填写
						</h4>
					</div>
					<div class="inner" style="padding:20px">
						<center>
							<h3 id="signName">签到</h3>
						</center>
						<hr>
						<div class="row">
							<div class="col-md-2">
								<center><h5>口令</h5></center>
							</div>
							<div class="col-md-10">
								<div class="field_text_omega">
  									<input type="text" id="signCommand" placeholder="四位数字">
  								</div>
  								<p class="help-block">四位签到口令，用于签到验证</p>
							</div>
						</div>
						<div class="row" id="photoDiv">
							<hr>
							<div class="col-md-2">
								<center><h5>照片</h5></center>
							</div>
							<div class="col-md-10">
								<input type="file" id="signInputfile">
							</div>
						</div>
						<div class="row" id="msgDiv">
							<hr>
							<div class="col-md-2">
								<center><h5>验证信息</h5></center>
							</div>
							<div class="col-md-10">
								<div class="field_text_omega">
  									<input type="text" id="signMsg" placeholder="本签到需要验证信息，以使管理员审核">
  								</div>
							</div>
						</div>
						<hr>
						<a href="#" id="signBtn" class="btn btn-blue btn-block"><span>签到</span></a>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	
<script src="{% static 'js/lly/signInfo.js' %}"></script>
{% endblock %}