{% extends 'basic.html' %}
{% load staticfiles %}

{% block subtitle %}投票成功{% endblock %}

{% block body %}
	
	<div class="container container-wide" style="min-height:500px">
		<div class="content" role="main">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="widget-container boxed">
					<div class="widget-title">
						<h4 style="color: white">
							投票成功
						</h4>
					</div>
					<div class="inner" id="qrcodeDiv">
						<center style="padding-bottom:200px; padding-top:200px">
							<p><h3>投票成功:)</h3></p>
							<a href="/" class="btn btn-blue">
								<span class="gradient">回首页</span>
							</a>
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	
{% endblock %}