{% extends 'basic.html' %}
{% load staticfiles %}

{% block subtitle %}签到登录{% endblock %}

{% block body %}
	<div class="container container-wide" style="min-height:500px">
	<div class="content" role="main">
	
	<div class="widget-container boxed">
		<div class="widget-title"></div>
		<div class="inner" role="main">
			<div class="row">
			<div class="col-md-6" style="padding: 50px">
				<h4 style="color: blue">
					登录
				</h4>
				<hr>
				<form role="form" id="loginForm">
					<div class="clearfix" style="margin:20px">
						<div class="field_text_omega">
							<input type="text" name="username" id="username_input" placeholder="用户名">
						</div>
						<div class="alert alert-danger" id="username_wrong">用户名不能为空</div>
						<div class="alert alert-danger" id="username_wrong2">此用户不存在</div>
					</div>
					<div class="clearfix" style="margin:20px">
						<div class="field_text_omega">
							<input type="password" name="password" id="password_input" placeholder="密码">
						</div>
						<div class="alert alert-danger" id="password_wrong">密码不能为空</div>
						<div class="alert alert-danger" id="password_wrong2">密码错误</div>
					</div>
					<div class="clearfix" style="margin:20px">
						<div class="alert alert-danger" id="general_wrong">注册中发生了一些错误</div>
					</div>
					<div class="clearfix" style="margin:20px">
						<a href="#" class="btn btn-blue btn-block" id="loginBtn"><span>登录</span></a>
					</div>
				</form>
			</div>
			<div class="col-md-6" style="padding: 50px">
				<h4 style="color: blue">
					注册
				</h4>
				<hr>
				<div class="clearfix" style="margin:20px">
					<div class="field_text_omega">
						<input type="text" name="username" id="rusername_input" placeholder="用户名">
						<p class="help-block" style="color:red">* &nbsp; 必填</p>
					</div>
					<div class="alert alert-danger" id="rusername_wrong">用户名不能为空</div>
				</div>
							
				<div class="clearfix" style="margin:20px">
					<div class="field_text_omega">
						<input type="password" name="password" id="rpassword_input" placeholder="密码">
						<p class="help-block" style="color:red">* &nbsp; 必填</p>
					</div>
					<div class="alert alert-danger" id="rpassword_wrong">密码不能为空</div>
				</div>
				<div class="clearfix" style="margin:20px">
					<div class="field_text_omega">
						<input type="password" name="password_again" id="rpassword_again_input" placeholder="密码确认">
						<p class="help-block" style="color:red">* &nbsp; 必填</p>
					</div>
					<div class="alert alert-danger" id="rpassword_again_wrong">两次输入的密码不同</div>
				</div>
				<div class="clearfix" style="margin:20px">
					<div class="fild_text_omega">
						<input type="text" name="nickname" id="rnickname_input" placeholder="昵称">
						<p class="help-block"><small>若空则昵称与用户名同</small></p>
					</div>
				</div>
				<div class="clearfix" style="margin:20px">
					<div class="fild_text_omega">
						<input type="text" name="email" id="remail_input" placeholder="E-mail">
					</div>
				</div>
				<div class="clearfix" style="margin:20px">
					<div class="fild_text_omega">
						<input type="text" name="location" id="rlocation_input" placeholder="所在地">
					</div>
				</div>
				<div class="clearfix" style="margin:20px">
					<div class="fild_text_omega">
						<input type="text" name="birthday" id="rbirthday_input" placeholder="生日">
						<p class="help-block"><small>格式：XXXX-XX-XX</small></p>
					</div>
				</div>
				<div class="clearfix" style="margin:20px">
					<div class="alert alert-danger" id="rgeneral_wrong">注册中发生了一些错误</div>
				</div>
				<div class="clearfix" style="margin:20px">
					<a href="#" id="registerBtn" class="btn btn-blue btn-block"><span>注册</span></a>
				</div>
			</div>
			</div>
			
		</div>
	</div>
	
	</div>
	</div>
	
<script src="{% static 'js/lly/signUser.js' %}"></script>
{% endblock %}