{% extends 'viewBasic.html' %}
{% load staticfiles %}

{% block subtitle %}首页{% endblock %}

{% block contents %}
	<div class="container container-wide" style="min-height:500px">
		<div class="widget-container widget_search styled boxed line-left">
			<div class="inner">
				<form method="get" id="searchForm" action="#">
					<div class="clearfix">
						<span class="btn">
							<input type="submit" value="搜活动" id="searchSubmitBtn" hidefocus="true" class="gradient" style="outline: none;"/>
						</span>
						<div class="field_text">
							<input name="search" id="search_input" value type="text" placeholder="活动名" hidefocus="true" style="outline: none;" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script src="{% static 'js/lly/index.js' %}"></script>
{% endblock %}