{% extends 'viewBasic.html' %}
{% load staticfiles %}

{% block subtitle %}404 Not Found{% endblock %}

{% block contents %}
<div class="container container-wide">
		<!-- content -->
		<div class="content" role="main">
			<div style="min-height:200px;"></div>
				<div class="widget-container boxed">
					<div class="widget-title">
						<h4 style="color: white">
							404
						</h4>
					</div>
					<div class="inner">
						<div class="clearfix"></div>
						<div style="min-height:30px;"></div>
						<div class="text-center">
							<h3>对不起，要请求的页面找不到。<br>
								或者您无权访问此页面:(</h3>
						</div>
						<div style="min-height:30px;"></div>
						<div class="clearfix"></div>
					</div>
				</div>
			<div style="min-height:200px;"></div>
		</div>
	</div>
{% endblock %}