{% extends 'viewBasic.html' %}
{% load staticfiles %}

{% block subtitle %}关于{% endblock %}

{% block contents %}
	<div class="container container-wide" style="min-height:450px; margin-top:100px">
		<div class="widget-container widget_search styled boxed line-left">
			<div class="inner">
				<center>
					<h3>关于</h3>
					<h5>SOA第九组大作业</h5>
					<h4>Ictivity</h5>
					<h4>孟垂正，邹昊，李林翼</h4>
				</center>
			</div>
		</div>
	</div>
	
	<script src="{% static 'js/lly/index.js' %}"></script>
{% endblock %}