{% extends 'viewBasic.html' %}
{% load staticfiles %}

{% block subtitle %}活动主页{% endblock %}

{% block contents %}

<style type="text/css">
    .mytab
	{
	position: relative;
	padding: 14px 14px 14px 14px;
	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    margin-bottom: 30px;
    background: #f8f3f0;
    }
</style>

<div class="container container-wide">
	<div class="comment-list styled clearfix">
	<div class="comment first last">
		<div class="comment-body boxed">
			<div class="comment-arrow">
			</div>
			<div class="comment-avatar" id="activityIcon">
				<div class="avator">
					<img id="defaultActivityIcon" src="/static/images/icons/defaultIcon.png" width=80px>
				</div>
			</div>
			<div class="comment-text">
				<div class="comment-author clearfix">
					<a href="#" id="activityNameLabel" class="link-author" hidefocus="true" style="outline: none;">
						活动名称
					</a>
				</div>
				<div class="comment-entry">
					<div>
						<div class='tagcloud' id="activityTags">
							<a href="#"><span>活动标签</span></a>
						</div>
					</div>
					<div>
						<span class="glyphicon glyphicon-user"></span>
						<span id="activityCount">0</span>
						&nbsp; &nbsp; &nbsp;
						<span id="activityRight">公开</span>
					</div>
					<div class="clearfix"></div>
					<div id="activityDescription">
						活动描述
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="mytab" id="roleTab">

	</div>
	<div id="mainTab">
		<div class="touristTab">
			<div class="widget-container boxed">
				<div class="inner">
					<div class="clearfix"></div>
					<div class="row" style="padding-bottom:150px; padding-top:150px;">
						<div class="col-md-3"></div>
						<div class="col-md-6">
							<a href="#" id="joinToggleBtn" class="btn btn-green btn-block" hidefocus="true" style="outline:none;">
								<span class="gradient">加入活动</span>
							</a>
						</div>
						<div class="col-md-3"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="clientTab">
			<div class="row">
				<div class="col-md-3">
					<div class="tabs_framed styled widget-stats" style="min-height:300px">
						<ul class="tabs clearfix">
							<li class="active"><a href="#memberTab" data-toggle="tab">活动成员</a></li>
							<li><a href="#signTab" data-toggle="tab">你的签到</a></li>
						</ul>
						<div class="tab-content boxed clearfix">
							<div class="tab-pane fade in active" id="memberTab">
								<div class="inner clearfix">
									<div id="memberSpace">
									
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="signTab">
								<div class="inner clearfix">
									<div id="signSpace">
										<div class="text-center" style="padding:20px">
											本活动暂无签到。
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="tabs_framed styled widget-stats" style="min-height:300px">
						<ul class="tabs clearfix">
							<li class="active"><a href="#noticeTab" data-toggle="tab">活动公告</a></li>
							<li><a href="#commentTab" data-toggle="tab">活动留言</a></li>
						</ul>
						<div class="tab-content boxed clearfix">
							<div class="tab-pane fade in active" id="noticeTab">
								<div class="inner clearfix">
									<div id="notices">
										<div class="notice">
											<h2>无公告</h2>
											<div class="trade-time">
												---
											</div>
											<div class="tab-text">
												目前没有可用公告。
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="commentTab">
								<div class="inner clearfix">
									<div class="row">
										<div class="text-right" style="padding-right:30px">
										<a href="#" class="btn btn-green" id="commentToggleBtn">
											<span class="gradient">留&nbsp;&nbsp;言</span>
										</a>
										</div>
									</div>
									<hr>
									<div id="comments">
										<div class="comment">
											<h2>无评论</h2>
											<div class="trade-time">
												---
											</div>
											<div class="tab-text">
												快来抢沙发~
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="managerTab">
			<div class="row">
				<div class="col-md-3">
					<div class="tabs_framed styled widget-stats" style="min-height:300px">
						<ul class="tabs clearfix">
							<li class="active"><a href="#mmemberTab" data-toggle="tab">活动成员</a></li>
							<li><a href="#msignTab" data-toggle="tab">活动后台</a></li>
						</ul>
						<div class="tab-content boxed clearfix">
							<div class="tab-pane fade in active" id="mmemberTab">
								<div class="inner clearfix">
									<div id="memberSpace">
									
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="msignTab">
								<div class="inner clearfix">
									<div id="signSpace">
										<div class="text-center" style="padding-bottom:50px">
											<a href="#" id="backstageToggleBtn" class="btn btn-green btn-block">
												<span class="gradient">进入活动后台</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="tabs_framed styled widget-stats" style="min-height:300px">
						<ul class="tabs clearfix">
							<li class="active"><a href="#mnoticeTab" data-toggle="tab">活动公告</a></li>
							<li><a href="#mcommentTab" data-toggle="tab">活动留言</a></li>
						</ul>
						<div class="tab-content boxed clearfix">
							<div class="tab-pane fade in active" id="mnoticeTab">
								<div class="inner clearfix">
									<div class="row">
										<div class="text-right" style="padding-right:30px">
										<a href="#" class="btn btn-green" id="noticeToggleBtn">
											<span class="gradient">发布新公告</span>
										</a>
										</div>
									</div>
									<hr>
									<div id="mnotices">
										<div class="notice">
											<h2>无公告</h2>
											<div class="trade-time">
												---
											</div>
											<div class="tab-text">
												目前没有可用公告。
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="mcommentTab">
								<div class="inner clearfix">
									<div class="row">
										<div class="text-right" style="padding-right:30px">
										<a href="#" class="btn btn-green" id="commentToggleBtn">
											<span class="gradient">留&nbsp;&nbsp;言</span>
										</a>
										</div>
									</div>
									<hr>
									<div id="mcomments">
										<div class="comment">
											<h2>无评论</h2>
											<div class="trade-time">
												---
											</div>
											<div class="tab-text">
												快来抢沙发~
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="modal fade" id="joinModal" tabindex="-1" role="dialog"  aria-labelledby="joinModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                	&times;
            	</button>
            	<h4 class="modal-title" id="joinModalLabel">
               		加入活动
            	</h4>
         	</div>
         	<div class="modal-body">
           		<br>
            	<br>
            	<div class="clearfix" style="margin-bottom:20px">
  					<div class="field_text_omega">
  						<input type="text" id="nicknameInput" placeholder="昵称">
  					</div>
  					<p class="help-block">请填写参加此活动的昵称，为空则使用默认用户名</p>
      			</div>
      			<div class="clearfix" style="margin-bottom:20px" id="joinMsgDiv">
      				<div class="field_text_omega">
      					<input type="text" id="joinMsgInput" placeholder="验证信息">
      				</div>
      				<p class="help-clock">加入此活动需要审核，请填写验证信息。</p>
      				<p class="help-block">管理员验证成功后，您将加入此活动。</p>
      			</div>
      			<br>
  			</div>
         	<div class="modal-footer">
            	<a href="#" type="button" class="btn btn-green btn-small" data-dismiss="modal"
            	hidefocus="true" style="outline:none;">
            		<span class="gradient">关闭</span>
            	</a>
            	<a href="#" type="button" class="btn btn-blue btn-small"
            	hidefocus="true" style="outline:none;" id="joinMsgBtn">
            		<span class="gradient">加入</span>
           		</a>
         	</div>
      	</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	
	<div class="modal fade" id="commentModal" tabindex="-1" role="dialog"  aria-labelledby="commentModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                	&times;
            	</button>
            	<h4 class="modal-title" id="commentModalLabel">
               		留言
            	</h4>
         	</div>
         	<div class="modal-body">
           		<br>
            	<br>
            	<div class="clearfix" style="margin-bottom:20px">
  					<div class="field_text_omega">
  						<textarea id="commentInput" placeholder="输入正文..." rows="3"></textarea>
  					</div>
  					<p class="help-block">不少于15字</p>
  					<div class="alert alert-danger" id="commentWrong">长度不足。</div>
      			</div>
  			</div>
         	<div class="modal-footer">
            	<a href="#" type="button" class="btn btn-green btn-small" data-dismiss="modal"
            	hidefocus="true" style="outline:none;">
            		<span class="gradient">关闭</span>
            	</a>
            	<a href="#" type="button" class="btn btn-blue btn-small"
            	hidefocus="true" style="outline:none;" id="commentBtn">
            		<span class="gradient">提交</span>
           		</a>
         	</div>
      	</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	
	<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog"  aria-labelledby="noticeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                	&times;
            	</button>
            	<h4 class="modal-title" id="noticeModalLabel">
               		发布新公告
            	</h4>
         	</div>
         	<div class="modal-body">
           		<br>
            	<br>
            	<div class="clearfix" style="margin-bottom:20px">
  					<div class="field_text_omega">
  						<input type="text" id="noticeTitleInput" placeholder="输入公告标题..." rows="5">
  						<textarea id="noticeInput" placeholder="输入公告内容..." rows="5"></textarea>
  					</div>
  					<div class="alert alert-danger" id="noticeWrong">公告标题和内容不能为空。</div>
      			</div>
  			</div>
         	<div class="modal-footer">
            	<a href="#" type="button" class="btn btn-green btn-small" data-dismiss="modal"
            	hidefocus="true" style="outline:none;">
            		<span class="gradient">关闭</span>
            	</a>
            	<a href="#" type="button" class="btn btn-blue btn-small"
            	hidefocus="true" style="outline:none;" id="noticeBtn">
            		<span class="gradient">发布</span>
           		</a>
         	</div>
      	</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	
	<div class="modal fade" id="memberMoreModal" tabindex="-1" role="dialog"  aria-labelledby="memberMoreModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                	&times;
            	</button>
            	<h4 class="modal-title" id="memberMoreModalLabel">
               		所有成员
            	</h4>
         	</div>
         	<div class="modal-body">
           		<br>
            	<br>
            	<div class="clearfix inner" style="margin-bottom:20px">
  					<div id="memberMoreDiv" style="overflow:scroll; height:500px;">
  						
  					</div>
      			</div>
  			</div>
         	<div class="modal-footer">
            	<a href="#" type="button" class="btn btn-green btn-small" data-dismiss="modal"
            	hidefocus="true" style="outline:none;">
            		<span class="gradient">关闭</span>
            	</a>
         	</div>
      	</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>

<script src="{% static 'js/lly/activity.js'%}"></script>
{% endblock %}